/datesets/csa_init.csv
/datesets/csa_mri_init.csv
/datesets/csa_ramris_init.csv
/datesets/te_init.csv
/datesets/te_mri_init.csv
/datesets/te_ramris_init.csv
/trained_weights/Wrist_BME_COR_0.model
/trained_weights/Wrist_SYN_COR_0.model
/trained_weights/Wrist_TSY_TRA_0.model
/output