/datasets/csa_init.csv
/datasets/csa_mri_init.csv
/datasets/csa_ramris_init.csv
/datasets/eac_init.csv
/datasets/eac_mri_init.csv
/datasets/eac_ramris_init.csv
/datasets/te_init.csv
/datasets/te_mri_init.csv
/datasets/te_ramris_init.csv
/datasets/all_init.csv
/datasets/all_mri_init.csv
/datasets/all_ramris_init.csv
/datasets/all
/datasets/all_previous
/trained_weights/Wrist_BME_COR_sumTrue_0.model
/trained_weights/Wrist_SYN_COR_sumTrue_0.model
/trained_weights/Wrist_TSY_TRA_sumTrue_0.model
/trained_weights/Wrist_BME_TRA_sumTrue_0.model
/trained_weights/Wrist_SYN_TRA_sumTrue_0.model
/trained_weights/Wrist_TSY_COR_sumTrue_0.model
/trained_weights/Wrist_BME_multiview_sumTrue_0.model
/trained_weights/Wrist_SYN_multiview_sumTrue_0.model
/trained_weights/Wrist_TSY_multiview_sumTrue_0.model
/trained_weights/Wrist_BME_multiview_sumTrue_1.model
/trained_weights/Wrist_SYN_multiview_sumTrue_1.model
/trained_weights/Wrist_TSY_multiview_sumTrue_1.model
/trained_weights/Wrist_TSY_multiview_sumFalse_0.model
/trained_weights/Wrist_TSY_multiview_sumFalse_1.model
/trained_weights/MCP_TSY_multiview_sumFalse_0.model
/trained_weights/MCP_TSY_multiview_sumFalse_1.model
/trained_weights/Foot_TSY_multiview_sumFalse_0.model
/trained_weights/Foot_TSY_multiview_sumFalse_1.model

/.vscode

/output
/MIRJIM/model_out