/datesets/csa_init.csv
/datesets/csa_mri_init.csv
/datesets/csa_ramris_init.csv
/datesets/te_init.csv
/datesets/te_mri_init.csv
/datesets/te_ramris_init.csv
/trained_weights/Wrist_BME_COR_sumTrue_0.model
/trained_weights/Wrist_SYN_COR_sumTrue_0.model
/trained_weights/Wrist_TSY_TRA_sumTrue_0.model
/trained_weights/Wrist_BME_TRA_sumTrue_0.model
/trained_weights/Wrist_SYN_TRA_sumTrue_0.model
/trained_weights/Wrist_TSY_COR_sumTrue_0.model
/trained_weights/Wrist_BME_multiview_sumTrue_0.model
/trained_weights/Wrist_SYN_multiview_sumTrue_0.model
/trained_weights/Wrist_TSY_multiview_sumTrue_0.model
/trained_weights/Wrist_BME_multiview_sumTrue_1.model
/trained_weights/Wrist_SYN_multiview_sumTrue_1.model
/trained_weights/Wrist_TSY_multiview_sumTrue_1.model
/trained_weights/Wrist_TSY_multiview_sumFalse_0.model
/trained_weights/Wrist_TSY_multiview_sumFalse_1.model
/trained_weights/MCP_TSY_multiview_sumFalse_0.model
/trained_weights/MCP_TSY_multiview_sumFalse_1.model
/trained_weights/Foot_TSY_multiview_sumFalse_0.model
/trained_weights/Foot_TSY_multiview_sumFalse_1.model
/output